/* defining style for my bomma */
body{
  background:#111;
  margin:0;
}
/* header styles */
.header{
  background:#222;
  padding:15px 50px;
  margin-bottom:40px;
}
.header img{
  width:230px;
  height:50px;  
}

/* slogon styles */
.slogon{
  text-align:center;
  margin-bottom:60px;  
}
.slogon div{
  color:#FFF;
  font-size:2.5em;
  font-family:Cooper;
}
.slogon div::first-letter{
  background:#FF0;
  color:#000;
  padding:4px 8px;
}
.slogon p{
  color:#EEE;
  font-size:1.2em;  
}
/* search box styles */
.search-box{
  background:#222;
  padding:20px 0;
  text-align:center;
}
.search-box h1{
  color:#FFF;
  text-align:center;
  font-family:'Arial Rounded MT';
}
.search-box div{
  display:inline-block;
  background:#FF0;
  border-radius:15px; 
  padding:1px 0;
  
}
.search-box div input{
  border:none;
  outline:none;
  background:#222;
  border-radius:15px; 
  padding:0 8px;
  color:#FFF;
  font-size:18px;
  width:400px;
}
/* footer styles */
.footer{
  margin-top:40px;
  color:#FFF;  
  display:flex;
  justify-content:space-between;
  padding:25px 45px;
  background:#222;
}
/* grid styles */
.grid-box{
  display:grid;		/* 1col	 */
    /*
    grid-template-columns:300px 300px 400px;
		OR	
	grid-template-columns:25% 25%;
		OR	 
	grid-template-columns:auto auto auto auto auto;
		OR  */
	grid-template-columns:repeat(auto-fit, minmax(250px, 1fr));		
	
	grid-template-rows:400px 400px 400px 400px;
	/*
	column-gap:30px;
	row-gap:40px;	*/
	grid-gap:20px 10px;
	width:90%;
	margin:auto;
	margin-bottom:50px;
}
.grid-box img{
  width:100%;
  height:330px;
  border-radius:8px;
}
.grid-box a{
  color:#FFF;
  text-decoration:none;
  font-size:1.5em;  
}
.grid-box a:hover{
  color:#FF0;
}

.grid-box .grid-item div:last-child{
  color:#00ffff;	
}
/* gridapp.css */